.header {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit / 1fr 1fr);
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin: 1rem;
}
