.parser .form {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit / 1fr 1fr);

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;

  padding: 0 0.5rem;
}
.content .today {
  background-color: lightseagreen;
}

.summaryCard {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  text-align: center;
}
