@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* margin: 0; */
  font-family: "Open Sans", sans-serif;
  color: #424242;
  /* overflow: hidden; */
  background: #bbb;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pipes.png");
}

#root {
  width: 95vw;
}

.true {
}
.true > .cardTitle {
  /* margin-bottom: 0.5rem; */
  text-align: center;
  grid-column: span 2;
}
.true > .date,
.true > .start,
.true > .end,
.true > .total,
.true > .breaks,
.true > .pay,
.true > .runs,
.true > .week,
.true > .arrow-down {
  display: none;
}

.true > .etc {
  font-size: 0.8rem;
  grid-column: span 2;
  text-align: center;
}

.true > .etc > .etc--breaks {
  display: none;
}
.true > .etc > .etc--hours {
  font-size: 1rem;
}
